

/* TO  DO REMOVE  */

.bd{
  border: 1px solid black;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* CUSTOM PROPERTIES */

:root{
  --header-color: rgb(0,132,253);
  --main-color: rgb(151,146,228);
  --free-sign: rgb(253,193,95);
  --footer-color: rgb(51,51,51);
  --jumbo-card: rgb(181,221,255)
}



/* GENERICS */

header{
  height: 200px;
  background-color: var(--header-color);
}

ul{
  list-style-type: none;
}

/* UTILITY */

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.orizontal-list{
  display: flex;

}

.row{
  display: flex;
  flex-wrap: wrap;
}

.col-66{
  flex-basis: 66%;
}

.col-50{
  flex-basis: 50%;
}

.col-33{
  flex-basis: 33%;
}





/* HEADER */

.navbar{
  height: 200px;
  display: flex;
  align-items: center;
}

.logo{
  height: 50px;
  flex-basis: 50%;
}

.nav-menu{
  height: 50px;
  flex-basis: 50%;
}



/* JUMBOTRON */

.jumbotron{
  height: 600px;

}

.jumbotron .col-66, .col-33{
  height: 200px;
  padding: 10px;
}

.card{
  height: 100%;
  border-radius: 25px;
}

.jumbotron .card{
  background-color: var(--jumbo-card);
}


/* FEATURE */

.feature{
  height: 600px;
  background-color: var(--main-color);
}

.feature .row{
  height: 600px;
}

.feature .col-50{
  height: 100%;
}

