

/* TO  DO REMOVE  */

.bd{
  border: 1px solid black;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* CUSTOM PROPERTIES */

:root{
  --header-color: rgb(0,132,253);
  --main-color: rgb(151,146,228);
  --free-sign: rgb(253,193,95);
  --footer-color: rgb(51,51,51);
  --jumbo-card: rgb(181,221,255);
  --jumbo-font: rgb(90,110,127);
}



/* GENERICS */

body{
  font-family: PT Sans;
  font-weight: 500;
  font-size: 18px;
}


header{
  height: 80px;
  background-color: var(--header-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

i{
  color: var(--header-color);
  text-align: center;
  display: block;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: white;
}

h2{
  color: var(--header-color);
}

p{
  padding-bottom: 35px;
}


/* UTILITY */

.container{
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.orizontal-list{
  display: flex;
  justify-content: space-between;
}


.btn-light{
  display: inline-block;
  background-color: white;
  color: black;
  border-radius: 25px;
  padding: 10px;
}

.btn-dark{
  display: inline-block;
  background-color: var(--header-color);
  color: white;
  border-radius: 25px;
  padding: 10px 60px;
}

.pd-top-35{
  padding-top: 35px;
}

.hline-30{
  line-height: 30px;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.col-70{
  flex-basis: 70%;
}

.col-66{
  flex-basis: 66%;
}

.col-50{
  flex-basis: 50%;
}

.col-33{
  flex-basis: 33%;
}

.col-30{
  flex-basis: 30%
}





/* HEADER */

.navbar{
  display: flex;
  align-items: center;
}

.logo{
  flex-basis: 50%;
}


.nav-menu{
  flex-basis: 50%;
}



/* JUMBOTRON */

.jumbotron{
  margin: 150px 0;
  color: var(--jumbo-font);
  font-weight: 600;

}

.jumbotron .card{
  border-radius: 25px;
  background-color: var(--jumbo-card);
  height: 100%;
}

.col-66, .col-33{
  padding: 10px;
}


.col-66 .card{
  display: flex;
}

.col-66 .content{
  flex-basis: 55%;  
  padding: 0 25px;
}

.col-33 .content{
  text-align: center;
  padding: 20px;
}

.jumbo-pic{
  flex-basis: 37%;
}

.jumbo-pic img{
  display: block;
  max-width: 100%;
  padding-top: 50px;

}
  


/* FEATURE */

.feature{
  height: 600px;
  background-color: var(--main-color);
}

.feature .row{
  height: 600px;
}

.feature .col-50{
  height: 100%;
}


/* TESTIMONIALS */

.testimonials{
  height: 600px;
}


.testimonials .info{
  height: 25%;
}

.testimonials .column{
  height: 100%;
  display: flex;
  flex-direction: column;

}


.row-100{
  flex-basis: 25%;
  padding: 10px;
}



.badge{
  height: 100%;
  background-color: var(--main-color);
  border-radius: 25px;
  display: flex;
}


.photo{
  flex-basis: 30%;
}

.review{
  flex-basis: 70%;
}


/* BENEFITS */

.benefit{
  height: 600px;
  background-color: var(--main-color);
}

.benefit .col-33{
  flex-basis: calc(100% / 3 );
}


.benefit .card{
  background-color: white;
  height: 100%;
}


/* ABOUT US */

.about-us{
  height: 600px;
}

.about-us .row{
  height: 100%;
}

.about-us .col-70, .col-30{
  height: 100%;
}

/* GET STARTED */

.get-started{
  height: 600px;
  background-color: var(--main-color);
}

/* FOOTER */

footer{
  height: 400px;
  background-color: var(--footer-color);
}